.book-now-button{
    width: 133px;
    display: flex;
    margin: 30px auto 70px auto;

    button{
        width: 100%;
        height: 40px;
        background-color: #79ADDC ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        color: white;
        font-size: 15px;
        border-radius: 30px;
        border: 1px solid #79ADDC

    }
}